body{
    background-color: rgb(7, 8, 8);
}
h1{
    color: aliceblue;
    text-align: center;
    margin: 10%;
}
.informacion_sobre_git p {
    color: white;
    font-size: large;
    text-align: justify;
    text-align: center;

}

img{
    display: block;
    margin: 30px auto;
    border-radius: 12px;
}